
.container{

}

.top-bar{
	height: 60px;
	background-color: #c5f2ea;
	width: 100%;
	margin: 0px;
	border: 0px;
}

.top-bar h3{
	margin-top: 0px;
	padding-top: 14px;
	padding-left: 0px;
	font-family: 'Dancing Script', cursive;
	font-weight: 400px;
	font-size: 35px;
	color: #0b8966;
} 
.user-login{
	height: 150px;
}

.username{
	display: inline-block;
	border-bottom: 1px solid black;
}
.input{
	width: 180px;
	margin: 10px;
}

.money {
	margin: 10px;
}

.username .first-row{
	padding-top: 25px;
}

.subtitle {
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	color: #0b8966;
	margin-top: 20px;

}

.block {
	min-height: 100px;
	margin-left: 10px;
	margin-top: 10px;
}

.submit {
	width: 300px;
	height: 50px;
	display: inline-block;
	background-color: #0b8966;
	border: none;
	
}

.button-row {
	width: 100%;
	padding-top: 20px;
}

.btn-content Button {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
}

/*
	Sign Up With Place CSS
*/
.address {
	min-width: 100%;
	min-height: 30px;
	margin-left: 10px;
}

.place-input {
	margin-top: 10px;
	margin-bottom: 10px;
}

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px;
  
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
  
}