@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');

* {
  margin: 0;
  padding: 0;
  
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.profile-container {
  width: 100%;
}

.header, .header h1 {    
  margin: 0;
  
  background: #c5f2ea;
  color: #0b8966;

  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  text-align: center;
}

.user-back {
  position: relative;

  height: 170px;
  margin-bottom: 20px;
  
  background-color: rgb(100, 100, 100);
}

.user-pic {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;

  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;

  background-color: rgb(230, 230, 230);
}

.avatar {
  width: 150px;
  height: 150px;
}

.info-container {
  margin: 0 auto;

  width: 40%;
  min-width: 900px;
}

.user-info {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;

  color: #0b8966;

  text-align: center;
}

.user-info button {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 10px;

  color: white;
  background: #0b8966;
  outline: none;

  font-size: 14px;

  transition: 0.12s ease-out;
}

.user-info button:hover {
  background: #08664b;
}

.user-info .likeButton {
  margin-bottom: 5px;
}

.user-info .likesDisplay {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;

  width: 40px;
}

.about {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 auto;

  width: 90%;
}

.about a {
  border-radius: 25px;
  padding: 0px 8px;

  background: #0b8966;
  color: white;
  font-size: 16px;
  text-decoration: none;

  transition: 0.25s ease-out;
}

.about a:hover {
  background: white;
  color: #0b8966;
}

.about p {
  font-size: 14px;
}

.about h4 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.about .profileSocialGallery {
  padding: 10px 0px;
}

.about .profileSocialGallery a {
  padding: 0;
  
  background: white;
}

.about .profileSocial {
  margin: 0px 5px;

  width: 40px;
  height: 40px;

  cursor: pointer;
  transition: 0.25s ease-out;
}

.about .profileSocial:hover {
  transform: scale(1.2);
}

.about .socialSpan {
  display: flex;
  justify-content: center;
}

.about .profileHousingInfo {
  display: flex;
  flex-direction: row;

  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 10px auto;

  width: 75%;

  background: #eee;
}

.about .profileHousingInfo strong, p{
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;

  font-size: 15px;
  text-align: center;
}

.about .profileHousingInfo p {
  padding: 0;

  font-size: 13px;
}

.about #map {
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 10px;

  width: 60%;
  height: 300px;
}

.line-split {
  border-top: 1px solid black;
  margin: 0 auto;
  width: 60%;
}

.contact {
  overflow: auto;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  margin: 0 auto;

  color: #0b8966;

  text-align: center;
}

.contact form {
  width: 60%;
  margin: 0 auto;
}

.contact-subject {
  overflow-y: auto;
  resize: none;

  width: 100%;
  height: 80px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 15px;
  padding: 5px;
  margin: 10px 0 10px 0;
  
  background: lightgray;

  font-size: 16px;
  text-align: left;

  outline: none;
}

.contact input[type=submit] {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 10px;

  color: white;
  background: #0b8966;
  outline: none;

  transition: 0.12s ease-out;
}

.contact input[type=submit]:hover {
  background: #08664b;
}

.contact input[type=submit]:active {
  transform: scale(0.92);
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.1s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profileModal {
  z-index: 9999;

  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  margin: 110px auto 0 auto;

  width: 80%;
  min-width: 800px;
  max-width: 900px;

  background: lightgray;
  animation: dropDown 0.25s ease-out;
}

@keyframes dropDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.editProfile {
  padding-right: 10px;
  margin: 0 auto;

  width: 80%;
  min-width: 650px;
  max-width: 750px;

  text-align: center;
}

.editProfile p {
  margin: 0;
}

.editProfile h6 {
  margin-top: 10px;

  font-size: 14px;
}

.editProfile label {
  margin: 0;

  font-size: 16px;
}

.editProfile input {
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;

  width: 80%;

  font-size: 16px;

  outline: none;
}

.editProfile input[type=submit] {
  margin-top: 10px;
  margin-bottom: 5px;

  transition: 0.1s ease-out;
}

.editProfile input[type=submit]:hover {
  background: darkgrey;
}

.editProfile input[type=submit]:active {
  transform: scale(0.95);
}

.editProfile textarea {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;

  width: 100%;
  min-height: 100px;
  resize: none;

  font-size: 14px;

  outline: none;
}

.editProfile button {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2px;
  margin-top: 4px;
  margin-bottom: 4px;

  width: 40%;

  font-size: 14px;

  outline: none;
  transition: 0.1s ease-out;
}

.editProfile button:hover {
  background: darkgrey;
}

.editProfile button:active {
  transform: scale(0.9);
}

.editProfile .nameInput {
  margin-left: 4px;
  margin-right: 4px;

  width: 40%;
}

.editTools {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  border-left: 1px solid black;
  padding-left: 10px;
}

.editTools input[type=checkbox] {
  margin-right: 5px;
}

.editTools label {
  font-size: 15px;
}

.aboutBar {
  display: flex;
  justify-content: center;
}

.aboutBar .ageInput {
  width: 30%;
  margin-right: 5px;
}

.aboutBar .genderInput {
  width: 30%;
  margin-left: 5px;
}

.modalTagsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0 auto;

    width: 100%;
}

.modalTagsContainer span {
    position: relative;
    display: inline-block;

    border: 1px solid black;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px 4px 2px 4px;

    color: white;
    background: #0b8966;
    font-size: 14px;

    cursor: pointer;
    transition: 0.25s ease-out;
}

.modalTagsContainer span:hover {
    position: relative;

    transform: scale(1.08);
}

.housingInfo {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;

  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;

  width: 100%;

  background: #eee;
}

.housingColumn {
  display: flex;
  flex-direction: column;

  width: 33%;
}

.housingColumn input {
  width: 95%;
}

.housingColumn input[type=checkbox] {
  margin-right: 5px;

  width: initial;
}

.housingColumn label {
  font-size: 14px;
}

.housingColumn .housingColumnName {
  text-align: center;
}

.amenitiesInfo label {
  text-align: left;
}

.housingSingle {
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
}

.img-avatar {
  width: 20px;
  height: 20px;
}

.comments-box .create-comment {
  width: 100%;
}

.comment-content .text-span {
  text-align: initial;
}

.delete {
  width: 300px;
  height: 50px;
  font-size: 15px;
  margin-left: 300px;
}

.delete-class {
  text-align: center;
}



